backports.zoneinfo==0.2.1
blinker==1.8.2
click==8.1.7
flask==3.0.3
Flask-Swag==0.1.2
flask-swagger-ui==4.11.1
importlib-metadata==7.1.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
packaging==24.1
psycopg==3.1.19
psycopg-pool==3.2.2
python-dotenv==1.0.1
typing-extensions==4.12.2
werkzeug==3.0.3
zipp==3.19.2
